.slider {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
  .image {

    width: 100%;
    height: 50%;
    border-radius: 30px;
    object-fit: cover;
    
    box-shadow: 7px 12px 0.7rem #888888; /* Box shadow with blur effect */

    
  }
  
  .right-arrow,
  .left-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    transform: translateY(-50%);
    color: #ffff;
    z-index: 9;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    left: 40px;
  }
  
  .right-arrow {
    right: 40px;
  }
  .slide {
    opacity: 0;
    
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.0);
  }

  @media only screen and (max-width: 767.9px) {
    .right-arrow,
    .left-arrow {
      font-size: 2.5rem;
    }
  }

  @media only screen and (max-width: 650px) {
    .right-arrow,
    .left-arrow {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 470px) {
    .right-arrow,
    .left-arrow {
      font-size: 1.5rem;
    }
  }
