/* NavBar */
.navbar {
  padding: 0 10% 0 12%;
  height: 80px;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 0 0 40px 40px;
  opacity: 1;
  transform: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/*Animation for nav*/
.slide-up {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.4s ease;
  pointer-events: none;
  transform: translateY(-100%);
}

/* MenuList items edit */
.menuList {
  color: white;
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
}

.menuList:hover {
  text-decoration: underline;
}

/* Each element from menuList besides the HOME */
.menuList + .menuList {
  margin-left: 36px;
}

/* logo */
.logo {
  width: 200px;
  height: 70px;
}

.burgerlogo {
  display: none;
}

/* New styles for burger menu icon and hidden menu items */
.menu-icon {
  display: none;
  cursor: pointer;
  outline: none;
}

.menu-icon .bar {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: background-color 0.3s ease;
}

.menu.visible .bar {
  background-color: #fff;
}

/* For smaller screens */

@media only screen and (max-width: 870px) {
  .navbar {
    padding: 0 10% 0 15%;
  }

  .menu-icon {
    display: block;
  }

  /* Burger menu */

  .burgerlogo {
    display: block;
    height: 80px;
    width: 250px;
    margin-bottom: 30px;
  }

  .menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#e66465, #9198e5);
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }

  .menu.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menuList {
    padding: 15px;
    font-size: 35px;
  }
  .menuList + .menuList {
    margin-left: 0;
    padding-top: 25px;
  }

  .close-icon {
    color: #fff;
    z-index: 10000;
    font-size: 50px;
    padding-top: 15px;
    cursor: pointer;
  }
  .menu-icon.menu-open .bar {
    height: 0;
    opacity: 0;
  }
}

@media only screen and (min-width: 870px) {
  .menu {
    display: flex;
  }
}

@media only screen and (max-width: 1280px) {
  .navbar {
    padding: 0 8% 0 12%;
  }
}

@media only screen and (max-width: 1180px) {
  .navbar {
    padding: 0 6% 0 10%;
  }
}

@media only screen and (max-width: 1040px) {
  .menuList {
    font-size: 20px;
  }
  .logo {
    width: 180px;
    height: 60px;
  }
  .navbar {
    height: 70px;
  }
}
