/* NavBar */
.navbar {
  padding-left: 145px;
  padding-right: 250px;
  height: 80px;
  background-color: rgba(255, 203, 203, 0.7); /* Initial background color */
  border-radius: 0px 100px / 100px;
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Include both transitions */
  
}

.navbar.scrolled {
  background-color: rgba(255, 203, 203, 1);
}

.navbar.isNotVisible {
  opacity: 0;
}

/* MenuList items edit */
.menuList {
  color: white;
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
}

.menuList:hover {
  color: white;
  text-decoration: underline;
}

/* Each element from menuList besides the HOME */
.menuList + .menuList {
  margin-left: 36px;
}

/* logo */
.logo {
  width: 200px;
  height: 70px;
}
