.footer {
  display: grid;
  grid-template-rows: auto auto 1px auto;
  gap: 10px;
  background-color: #ffff;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 0 0 50% 50%;
}

.links__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end; 
  padding-left: 2%;
  padding-right: 2%;
}


.links {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
}

.links > :not(:first-child) {
  margin-left: 35px;
}

.links a {
  text-decoration: none;
  color: #333;
}

.social-media-icons {
  display: flex;
  gap: 25px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #999;
  padding-left: 2%;
}

.copyright {
  margin-left: auto;
  padding-right: 2%;
  font-size: 16px;
}

@media only screen and (max-width: 870px) {

  .links {
    gap: 10px;
    font-size: 16px;
  }

  .social-media-icons {
    gap: 15px; 
  }

  .social-media-icons a {
    font-size: 0.7rem; 
  }

  
  .copyright {
    font-size: 14px;
  }
}



@media only screen and (max-width: 570px) {
  

  .social-media-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    
  }

  .social-media-icons a {
    font-size: 10px;
  }

  .links {
    margin-left: 0px;
  }

  .links__icon-container {
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media only screen and (max-width: 530px) {

  
  .links {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; 
 
  }

  .links > :not(:first-child) {
    margin-left: 0;
  }

  .copyright{

    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
  }
}