/* Updated CSS */
.header {
  background-size: cover;
  background-position: center;
  min-height: calc(100vh);
  filter: contrast(200%);
}

.header__container {
  display: flex;
  height: 100vh;
  margin-bottom: 110px;
  
}

.p__mission {
  display: block;
  width: 350px;
  height: 190px;
  margin-top: 430px;
  color: white;
}

.header__container--mission {
  flex-grow: 1;
  margin-left: 10%;
}

.header__check--button {
  margin-top: 400px;
  padding-right: 15%;
}




  @media only screen and (max-width: 1280px) {
    .header__check--button {
      padding-right: 12%;
    }

  }



  @media only screen and (max-width: 900px) {
    .header__container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
     
    }
    
    .header__container--mission{
      margin-left: 0;
      height: auto;
    }

    .p__mission {
      margin-top: 12%;
      width: 500px;
      height: auto;
     
    }
    
    .header__check--button {
      margin-top: 250px;
      font-size: 54px;
      padding-right: 0;
    }

    .header{
      min-height: calc(80vh);
    }
    
  }
  
  @media only screen and (max-width: 600px) {

    .p__mission {
      width: auto;
      height: auto;
      padding: 0 5%;
    }
  }



  @media only screen and (max-width: 470px) {


    .header__container--mission{

      margin-left: 0;
    }
    .header__check--button{
      margin-top: 50%;
      font-size: 36px;
      margin-bottom: 12%;
      
    }

  }

  @media only screen and (max-width: 400px) {
    .header__check--button{
      margin-bottom: 0;
      margin-top: 60%;

    }
  }

